<!--<app-run-list [runList]="runList" [highlight]="highlight" (onGotoRun)="goTo($event)"></app-run-list>-->
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="text-center">Datum</th>
    <th class="text-center">Strecke</th>
    <th class="text-center">Zeit</th>
    <th class="text-center">pro km</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let run of runList | paginate: paginateConfig" [class.success]="highlight == run.id">
    <td>{{run.getDateObj() | date:'dd.MM.y HH:mm'}}</td>
    <td class="text-right">{{run.length | distance}} km</td>
    <td class="text-right">{{run.timeUsed | duration}}</td>
    <td class="text-right">{{run.paceKm | duration}}</td>
    <td class="text-center">
      <a [routerLink]="['/runs', run.id]">Details</a>
    </td>
  </tr>
  </tbody>
</table>

<!-- with bootstrap template -->
<pagination-controls #pagination (pageChange)="paginateConfig.currentPage = $event" class="text-center">

  <ul class="pagination pagination-large">

    <li class="pagination-previous" [class.disabled]="pagination.isFirstPage()">
      <a *ngIf="!pagination.isFirstPage()" (click)="pagination.previous()"> &laquo; </a>
      <span *ngIf="pagination.isFirstPage()"> &laquo; </span>
    </li>

    <li *ngFor="let page of pagination.pages" [class.active]="pagination.getCurrent() === page.value">
      <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
        {{ page.label }}
      </a>
      <span *ngIf="pagination.getCurrent() === page.value">{{ page.label }}</span>
    </li>

    <li class="pagination-next" [class.disabled]="pagination.isLastPage()" *ngIf="pagination.directionLinks">
      <a *ngIf="!pagination.isLastPage()" (click)="pagination.next()"> &raquo; </a>
      <span *ngIf="pagination.isLastPage()"> &raquo; </span>
    </li>

  </ul>

</pagination-controls>
