<div class="well">
  <form (ngSubmit)="save()" #shoeForm="ngForm">
    <div class="alert alert-danger" *ngIf="error">Error adding new shoe.
      <pre>{{error}}</pre>
    </div>
    <div class="form-group no-block">
      <label>Gekauft am</label>
      <app-datetime-input [(ngModel)]="model.bought" [disabled]="sending" name="date" styleClass="form-control input-lg"></app-datetime-input>
    </div>
    <div class="form-group">
      <label>Kommentar</label>
      <textarea [(ngModel)]="model.comment" [disabled]="sending" name="comment" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!shoeForm.form.valid || sending">
        {{newMode ? 'Add' : 'Save'}} <span *ngIf="sending" class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
  </form>
</div>