<div class="ig-wrapper">
  <div class="input-group">
    <input class="form-control input-lg" [value]="timeUsedFormatted" readonly>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg" (click)="startStop()">
        <span class="glyphicon" [class.glyphicon-play]="!isPlaying" [class.glyphicon-pause]="isPlaying"></span>
        {{isPlaying ? 'Stop' : 'Start'}}
    </button>
  </span>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-warning btn-lg" (click)="reset()" [disabled]="isPlaying">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button type="button" class="btn btn-success btn-lg" (click)="applyValues()" [disabled]="isPlaying">
    <span class="glyphicon glyphicon-ok"></span>
    Übernehmen
  </button>
</div>