<table class="table table-bordered" *ngIf="run">
  <tbody>
  <tr>
    <td>Wann</td>
    <td>{{run.date * 1000 | date:'dd.MM.y HH:mm'}}</td>
  </tr>
  <tr>
    <td>Strecke</td>
    <td>{{run.length | distance}} km</td>
  </tr>
  <tr>
    <td>Zeit</td>
    <td>{{run.timeUsed | duration}}</td>
  </tr>
  <tr>
    <td>Kommentar</td>
    <td>{{run.comment}}</td>
  </tr>
  </tbody>
</table>


<button class="btn btn-default" (click)="back()">Back</button>

<div class="pull-right">
  <button class="btn btn-success" (click)="edit()">Edit</button>
  <button class="btn btn-danger" (click)="showConfirm = true" *ngIf="!showConfirm">Delete</button>
<span *ngIf="showConfirm">
  <button class="btn btn-danger" (click)="deleteRun()">Yes, Delete</button>
  <button class="btn btn-default" (click)="showConfirm = false">Cancel</button>
</span>
</div>
