<div class="well">
  <form (ngSubmit)="save()" #runForm="ngForm">
    <div class="alert alert-danger" *ngIf="error">Error adding new run.
      <pre>{{error}}</pre>
    </div>
    <div class="alert alert-info" *ngIf="recoverMode">
      <button type="button" class="close" (click)="dismissRecover()"><span>&times;</span></button>
      Letzte Eingabe wiederhergestellt.
    </div>
    <div class="form-group no-block">
      <label>Wann</label>
      <app-datetime-input [(ngModel)]="model.date" [disabled]="sending" name="date" styleClass="form-control input-lg"></app-datetime-input>
    </div>
    <div class="form-group">
      <label>Strecke (km)</label>
      <div class="input-group input-group-lg">
        <input type="number" [(ngModel)]="model.length" [disabled]="sending" name="length" class="form-control input-number" required>
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" (click)="decLength()" [disabled]="sending">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button type="button" class="btn btn-success btn-number" (click)="incLength()" [disabled]="sending">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label>Zeit (Minuten)</label>
      <div class="input-group input-group-lg">
        <input type="number" [(ngModel)]="model.timeUsed" [disabled]="sending" name="timeUsed" class="form-control" required>
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" (click)="decTimeUsed()" [disabled]="sending">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button type="button" class="btn btn-success btn-number" (click)="incTimeUsed()" [disabled]="sending">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
      </div>
      <p class="help-block time-used-formatted">as formatted time: {{model.timeUsed * 60 | duration}}</p>
    </div>
    <div class="form-group">
      <label>Stoppuhr</label>
      <app-stop-watch class="input-group input-group-lg" (onNewValue)="applyTime($event)"></app-stop-watch>
    </div>
    <div class="form-group">
      <label>Kommentar</label>
      <textarea [(ngModel)]="model.comment" [disabled]="sending" name="comment" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!runForm.form.valid || sending">
        {{newRunMode ? 'Add' : 'Save'}} <span *ngIf="sending" class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
  </form>
</div>